.example-card {
  width: 400px;
  margin: 150px auto;
}

.example-full-width {
  width: 100%;
}

button {
  width: 100%;
}

.newAccount {
  margin-top: 40px;
}

md-progress-spinner{
  margin-top: 20px;
  height: 60px;
  width: inherit;
}

.error-text {
  color: red;
}
