<div [@fadeIn]="'true'">


  <h1>About us</h1>
  <br>
  <br>

  <md-card class="example-card">
    <h2>Angular 2 Demo</h2>
    <hr>
    <img md-card-md-image src="https://angular.io/resources/images/logos/angular2/angular.svg">
    <md-card-content>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra mollis lectus et molestie.
        Phasellus semper dui vel ante ultricies aliquet. Duis facilisis a tortor rutrum ornare.
    </md-card-content>
    <hr>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

</div>
