<div id="mySidenav" class="sidenav">
  <br>
  <a [routerLink]="['']"><span class="glyphicon glyphicon-home"></span>Home</a>

  <div *ngIf="isAuthenticated">
    <hr>
    <a [routerLink]="['/about']"><span class="glyphicon glyphicon-info-sign"></span>About</a>
    <hr>
    <a [routerLink]="['/documentation']"><span class="glyphicon glyphicon-console"></span>Documentation</a>
    <hr>
    <a [routerLink]="['/storage']"><span class="glyphicon glyphicon-cloud"></span>Storage</a>
    <hr>
  </div>
</div>
